/*Removing some default formatting and setting font and background colors*/
html {
    background-color: white;
}
html *{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
}
ul, ol {
    list-style-type: none;
}

/*Centering the page*/
body {
    margin:auto;
    max-width: 960px;
}

/*Styling the header div on the pages*/
/*Adds the gradient*/
#header-div {
    background:linear-gradient(200deg, #054A91, #054A91 30%,  #0074EC 70%, #0074EC 100%);
}
/*Gap between header and top of page*/
#header-div header {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Makes all the header elements stay on the same line*/
#header-div header * {
    display:inline-block;
}
/*Sets image properties*/
#header-div header img {
    width:15%;
    margin-left: 10%;
    margin-right:10%;
}
/*Spaces out the nav*/
#header-div header ul {
    display:inline-flex;
    width:50%;
    justify-content: space-between;
    align-content: center;
}
