/*Removing some default formatting and setting font and background colors*/
* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    border: 0;
    list-style-type: none;
}
html {
    background-color: white;
}

/*Centering the page*/
body {
    margin:auto;
    max-width: 960px;
    min-width:600px;
}
/*General styling*/
section {
    padding-top:50px;
    padding-left: 10%;
    padding-right: 10%;
}
h1 {
    margin-bottom: 10px;
}
p {
    font-size: 13px;
    margin-top:10px;
    margin-bottom:10px;
}

/*Styling the header div on the pages*/
/*Adds the gradient*/
#header-div {
    background:linear-gradient(200deg, #054A91, #054A91 30%,  #0074EC 70%, #0074EC 100%);
    color: white;
    position: relative;
}
/*Gap between header and top of the body*/
#header-div header {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Makes all the header elements stay on the same line*/
#header-div header * {
    display:inline-block;
}
/*Sets image properties*/
#header-div header img {
    width:15%;
    margin-left: 10%;
    margin-right: 10%;
}
/*Spaces out the nav*/
#header-div header ul {
    display:inline-flex;
    width:55%;
    font-weight: 500;
    justify-content: space-between;
    align-content: center;
}
/*The big penguin image*/
#header-div section img {
    max-height: 100%;
    max-width: 90%;
    position: absolute;
    bottom:0;
    right:0;
    width: auto;
    height: auto;
}
/*Curve on bottom of div*/
#header-div > svg{
    display:block;
    position: absolute;
    bottom: 0;
}
/*Styling top section*/
#header-div section {
    padding-bottom: 0px;
}
/*Splits section into 2 parts*/
#header-div section div {
    width:50%;
    display:inline-block;
    vertical-align: top;
}
#header-div section .image_container {
    text-align: right;
    position: relative;
    min-height:400px;
    height:100%;
}
/*Styling of the contact button*/
#header-div button {
    background-color: #F2BB05;
    color:white;
    padding: 5px 9px 5px 9px;
    border-radius:6px;
    margin-top: 10px;
}

/*Styling the 'win a website' section*/
/*Setting colors and size of this section*/
#win_website {
    background-color: #054A91;
    min-height: 200px;
    text-align: center;
    color:white;
    position: relative;
}
/*Entry Count*/
#win_website span {
    color: #F2BB05;
}
/*Styling the Email Input Field*/
/*Hides the label*/
#website-raffle label {
    display: none;
}
/*Styling of the field container div*/
#website-raffle div {
    padding: 2px 2px 2px 5px;
    border-radius:6px;
    background-color: white;
    display:inline-block;
}
/*Styling of the submit button*/
#website-raffle input[type="submit"] {
    background: #F2BB05;
    color:white;
    padding: 3px 6px 3px 6px;
    font-size: 12px;
    border-radius:6px;
}
/*Curve on bottom of section*/
section > svg {
    display:block;
    position:absolute;
    right: 0;
    bottom: 0;
}

/*Styling of the design process section*/
#design-process h1 {
    text-align: center;
}
#design-process ol {
    counter-reset: design-step;
}
#design-process li {
    border: 1px solid red;
    width: 85%;
    margin: auto;
    padding:40px 35px 30px 35px;
    counter-increment: design-step;
}
#design-process .text-content{
    display:inline-block;
    vertical-align: top;
    width: 40%;
    margin-right:5%;
}
#design-process .text-content h2::before {
    content: counter(design-step) ". ";
    color:black;
    width:1em;
}
#design-process .image-container{
    display:inline-block;
    width:55%;
}
#design-process .image-container img {
    width: 100%;
    height:auto;
}